body {
    font-family: 'Poppins', sans-serif;
    
}
h1{

    font-size: 55px;
    margin: 60px;
    
}
span{
    color: orange;
}
.diet{
    color: rgb(87, 85, 85);
}
.first-div{
    margin-left: 70px;
    margin-top: 150px;
    
}
p{
    color: gray;
    margin: 60px;
}
.link{
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 50px;
    margin: 60px;
    margin-top: 60px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(rgb(250, 195, 93),rgb(250, 63, 29));

}
.box{
    display: flex;
}
.half-width{
    width: 50%;
padding-top: 100px;
}
.half-width img {
    margin: 0px;
    width: 500px ;
    margin-left: 90px;
    margin-bottom: 90px;
}

.image-two{
    width: 100%;
    height: 100%;
}
.image-three{
    width: 100%;
    height: 100%; 
}
.about{
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 10%;
}
.second-banner img{
    width: 40%;
    height: 90%;
    
}
.img{
    margin-left: 25%;
    padding-top: 8%;
}
.us{
    color: gray;
}
.contact{
    text-decoration: none;
    background-image:linear-gradient(rgb(250, 195, 93),rgb(250, 63, 29));
    margin-left: 10%;
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    font-weight: 700;

}
.my-recipies{
    color: gray;
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    margin-top: 70px;

}
.lorem{
    text-align: center;
    margin-top: 0px;
}
.recipie-title{
    width: 90%;
    height: 50%;
    margin-left: 5%;

}
.recipie-heading{
    font-weight: 900;
    font-size: 35px;
    margin-left: 10%;
    margin-top: 20px;
}
.recipie-paragraph{
    margin-top: 0%;
    margin-left: 10%;

}
.recipie-lorem{
    display: flex;
    padding-top: 50px;
    margin-left: 50px;
}
.recipie-box{
    box-shadow: 20px 20px 100px rgb(214, 211, 211);
    padding-top: 20px;
    padding-left: 0%;
    padding-right: 0px;
    margin-left: 10px;
    margin-right: 40px;
    padding-bottom: 0px;
    border-radius: 30px;

}
.numbers{
    font-weight: 600;
    font-size: 45px;
    
}

.youtube{
    padding-left: 150px;

}
 
.ins{
    padding-left: 80px ;
}

.dri{
    padding-left: 80px ;

}

.last-number{
    display: flex;
    box-shadow: 10px 10px 70px gray;
    margin-top: 50px;
    border-radius: 50px;
    margin-left: 60px;
    margin-right: 40px;
}

















